<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ICTF Gradings</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

  <div class="container is-fluid">

    <h1 class="title">ICTF Gradings Portal</h1>

    {% if error_message %}
        <div class="notification is-danger">
            {{ error_message  }}
        </div>
    {% endif %}

    <form action="/" method="POST" enctype="multipart/form-data">

      <div class="field">
          <label class="label">Group Affiliation</label>
          <div class="control">
            <input name="group_authority" class="input" type="text" value="{{ group_authority }}">
          </div>
        </div>


      <div class="field">
        <label class="label">Group Lead</label>
        <div class="control">
          <input name="kjn" class="input" type="text" value="{{ kjn }}">
        </div>
      </div>

      <div class="field">
        <label class="label">Dojang</label>
        <div class="control">
          <input name="dojang" class="input" type="text" value="{{ dojang }}">
        </div>
      </div>

      <div class="field">
        <label class="label">Dojang Head Instructor/Supervisor</label>
        <div class="control">
          <input name="head_instructor" class="input" type="text" placeholder="i.e. Mr. J. Cariati VI DAN" value="{{ head_instructor }}">
        </div>
      </div>

      <div class="field">
        <label class="label">Dojang Assistant Supervisor 1</label>
        <div class="control">
          <input name="admin2" class="input" type="text" placeholder="i.e. Mr. J. Cariati VI DAN" value="{{ admin2 }}">
        </div>
      </div>

      <div class="field">
        <label class="label">Dojang Assistant Supervisor 2</label>
        <div class="control">
          <input name="admin3" class="input" type="text" placeholder="i.e. Mr. J. Cariati VI DAN" value="{{ admin3 }}">
        </div>
      </div>

      <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Date</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              
              <div class="control">
                  <input name="date_year" class="input" type="number" placeholder="year" value="{{ date_year }}">
                </div>
                <div class="control">
                    <input name="date_month" class="input" type="text" placeholder="month" value="{{ date_month }}">
                  </div>
                  <div class="control">
                      <input name="date_day" class="input" type="number" placeholder="day" value="{{ date_day }}">
                    </div>
            </div>
          </div>
        </div>

        <div class="file">
            <label class="file-label">
              <input class="file-input" type="file" name="student_list">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Upload a Students List File.
                  <br>
                  <b>NOTE: no visual update when file selected</b>
                </span>
              </span>
            </label>
          </div>
        


        <div class="control">
          <button class="button is-link">Submit</button>
        </div>

  </form>

  </div>

  <br>

  <div class="container is-fluid">
    <h2>How to format the Students List File</h2>
    <div class="content">
        <ul class="is-lower-alpha">
          <li>You must have exactly 4 columns, no extras</li>
          <li>The first row of the excel file must have the headers (spelled exactly the same): </li>
          <table class="table">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Belt Size</th>
                  <th>Belt Level</th>
                </tr>
              </thead>
            </table>
          <li>Belt Size can be either a number ("2") or the word size and a number "size 00"</li>
          <li>Belt level should be LITTLE DRAGON COLOUR STRIPE/BELT. If they aren't a little dragon, then: COLOUR STRIPE/BELT. Some examples of valid inputs: "Little Dragon Blue Stripe", "Red Stripe", "Blue Belt"</li>
        </ul>
      </div>
  </div>
   
  <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>ICTF Gradings Portal</strong> by <a href="https://github.com/rlongo/ictf-gradings-frontend">rlongo</a>.
          The source code is licensed
          <a href="https://github.com/rlongo/ictf-gradings-frontend/blob/master/LICENSE">MIT</a>.
        </p>
      </div>
    </footer>

</body>

</html>
